
html{
    position: relative;
    scroll-behavior:smooth ; /*Hành vi khi cuộn trang web*/
}

.background{
    position: fixed;
    max-width: 100vw;
    width: 100%;
    z-index: -1;
    min-height: 100vh;
    height: 100%;
}

.background--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header nav  */

.header{
    position: fixed;
    max-width: 100vw;
    width: 100%;
    z-index: 5;
    top: 0%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 100vw;
    margin-left: 40px;
    margin-right: 40px;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.nav__item--primary{
    background-color: var(--white);
    padding: 10px;
    margin-right: 10px;
}

.nav__item-resicon{
    cursor: pointer;
}

.nav__item{
    padding-right: 20px;
    padding: 10px;
    position: relative;
}

.nav__item::before{
    content: "";
    position: absolute;
    height: 40%;
    top: 32%;
    right: -2%;
    border-right: 2px solid var(--white);
}

.nav__item:last-child::before{
    display: none;
}

.nav__item::after{
    content: "";
    position: absolute;
    width: 81%;
    top: 86%;
    left: 10%;
    border-bottom: 2px solid var(--white);
    visibility: hidden;
    transition: 0.3s;
    animation: Disappear ease 0.4s;
}

.nav__item:hover::after{
    visibility: visible;
    animation: Appear ease 0.4s;
}

.nav__item--link{
    font-size: 22px;
    color: var(--white);
}

.nav__item--primary .nav__item--link{
    color: black;
}

.nav__menu{
    border:1px solid var(--white) ;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav__menu--link{
    color: var(--white);
}

/* Modal nav res  */
.modal__nav-res-box{
    visibility: hidden;
    background-color: rgba(75, 74, 74, 0.9);
    animation: Disappear ease 0.3s;
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    transition: 0.3s;
}

.modal__nav-res-box.modal__nav-res-box--active{
    visibility: visible;
    animation: Appear ease 0.3s;
    transition: 0.3s;
}

.modal__nav-res{
    width: 45%;
    margin: 50px auto 20px;
}

.modal__nav-res--header{
    width: 100%;
    height: 40vh;
    position: relative;
}

.modal__nav-res--header-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__nav-res--header-icon{
    position: absolute;
    top: -10%;
    right: 1%;
    cursor: pointer;
    color: var(--white);
    font-size: 22px;

}

.modal__nav-res--header-logo-box{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 30%;
    left: 0%;
}

.modal__nav-res--header-logo{
    width: 50%;
    margin: auto;
}

.modal__nav-res--body{
    background-color: var(--white);
}

.modal__nav-res--notice{
    background-color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 15px 0 15px 0;
}

.modal__nav-res--date{
    text-align: center;
    font-size: 16px;
    padding: 15px 0 15px 0;
}

.modal__nav-res--date-choose{
    width: 50%;
    height: 30px;
    margin: 15px 0 15px 0;
}

.modal__nav-res--date-search{
    background-color: var(--black);
    color: var(--white);
    width: 90%;
    margin: 20px auto 30px;
    padding: 10px;
    cursor: pointer;
}

.modal__nav-res--date-end{
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
}

/* Modal  nav menu*/

.modal__nav-menu{
    visibility: hidden;
    background-color: var(--white);
    animation: Disappear ease 0.3s;
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    transition: 0.3s;

    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.modal__nav-menu::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}


.modal__nav-menu.modal__nav-menu--active{
    visibility: visible;
    animation: Appear ease 0.3s;
    transition: 0.3s;
}

.modal__nav-menu--header{
    margin: 40px 0 60px 0 ;
    position: relative;
}

.modal__nav-menu--header-img-box{
    width: 300px;
    margin: auto;
}

.modal__nav-menu--header-img{
    width: 100%;
}

.modal__nav-menu__list{
    margin: auto;
    /* overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
     height: 60vh; */
    width: 90%;
}

/* .modal__nav-menu__list::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
} */

.modal__nav-menu__item{
    text-align: center;
}

.modal__nav-menu__item--link{
    font-size: 50px;
    line-height: 60px;
    font-weight: 100;
    opacity: 0.3;
}

.modal__nav-menu__item--link:hover{
    opacity: 1;
}

.modal__nav-menu__footer{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.modal__nav-menu__footer--link{
    font-size: 30px;
}

.modal__nav-menu--icon-box{
    border:1px solid var(--black) ;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -10%;
    right: calc(3% - 8px);
}

.modal__nav-menu--icon{
    color: var(--black);
}


/* Body  */

.container{
    max-width: 100vw;
    width: 100%;
}

/* slide */

.slide__list{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(142, 138, 138);
}

.slide__item--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slide__item--img.slide__item--img-active{
    display: block;
    animation: Appear ease 0.5s;
}

.slide__logo{
    width: 100%;
    position: absolute;
    top: 40%;
}

.slide__logo--img-box{
    width: 30%;
    margin: 0 auto;
}

.slide__logo--img{
    width: 100%;
}

.slide__footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    left: 0%;
    width: 100%;
}

.slide__footer--list{
    display: flex;
    margin-right: 40px;
}

.slide__footer--ins{
    margin-left: 40px;
    padding: 10px;
}

.slide__footer--item{
    padding-right: 20px;
    padding: 10px;
    position: relative;
}

.slide__footer--item::before{
    content: "";
    position: absolute;
    height: 40%;
    top: 32%;
    right: -2%;
    border-right: 2px solid var(--white);
}

.slide__footer--item:last-child::before{
    display: none;
}

.slide__footer--item::after{
    content: "";
    position: absolute;
    width: 100%;
    top: 86%;
    left: 0%;
    border-bottom: 2px solid var(--white);
    visibility: hidden;
    transition: 0.3s;
    animation: Disappear ease 0.4s;
}

.slide__footer--item:hover::after{
    visibility: visible;
    animation: Appear ease 0.4s;
}

.slide__footer--item-link{
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
}

/* body*/

.body__header{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--black);
    background-color: var(--white-rgba);
}

.body__header-text{
    padding: 0 20px;
}

.body__list{
    background-color: none;
}

.body__item{
    display: flex;
    min-height: 100vh;
}

.body__item:nth-child(2n+1){
    flex-direction: row-reverse;
}

.body__lable{
    width: 50%;
    min-height: 90vh;
    text-align: center;
}

.body__picture{
    width: 50%;
}

.body__picture-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body__lable-header{
    margin: 80px 0px 40px 0px;  
    font-size: 50px;  
    line-height: 60px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.body__lable-body{
    max-width: 50%;
    font-size: 25px;
    line-height: 30px;
    margin: 40px auto 40px;
}

.body__lable-btn{
    border: 1px solid var(--black);
    width: 200px;
    padding: 15px 10px;
    margin: 10px auto 30px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    --color: transparent;
    --hover-color: var(--white);
    background-color: var(--color);
    animation: Hoveroutbtn ease 0.3s;
}

.body__lable-btn:hover{
    background-color: var(--hover-color);
    border: 1px solid var(--white);
    animation: Hoverbtn ease 0.3s;
}

.body__item:nth-child(1) .body__lable{
    background-color: var(--pink-rgba);
}

.body__item:nth-child(2) .body__lable{
    background-color: var(--orange-rgba);
}

.body__item:nth-child(3) .body__lable{
    background-color: var(--brown-rgba);
}

.body__item:nth-child(4) .body__lable{
    background-color: var(--green-rgba);
}

.body__item:nth-child(5) .body__lable{
    background-color: var(--brown-rgba);
}

.body__item:nth-child(6) .body__lable{
    background-color: var(--yellow-rgba);
}

/* body item map  */
.body__item.body__item-map .body__lable{
    background-color: var(--blue-rgba);
    color: var(--white);
}

.body__item-map--btn{
    --color:transparent;
    --hover-color: var(--white);
    background-color: var(--color);
    border: 1px solid var(--white);
    animation: Hoveroutbtn ease 0.3s;
    transition: 0.3s;
}

.body__item-map--btn:hover{
    --hover-color: var(--white);
    background-color: var(--hover-color);
    color: var(--black);
    animation: Hoverbtn ease 0.3s;
}

.body__lable-body--heading{
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 25px;
}

.body__lable-body-map{
    max-width: 80%;
}


/* body slide  */

.body__slide{
    width: 100%;
    height: 140vh;
    position: relative;
    background-color: rgba(75, 74, 74, 0.9);
}

.body__slide-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.body__slide-img.body__slide-img--active{
    display: block;
    animation: Appear ease 0.5s;
}

.body__slide-icon--list{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 3.5%;
    width: 100%;
}

.body__slide-icon--item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 8px;
    line-height: 8px;
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 16px;
    height: 15px;
    color: var(--white);
    cursor: pointer;
}

.body__slide-icon--item:last-child{
    margin-right: 0px;
}

.body__slide-icon--item i{
    visibility: hidden;
    animation: Disappear ease 0.5s;
    transition: 0.5s;
}

.body__slide-icon--item.body__slide-icon--item-active i{
    visibility: visible;
    animation: none;
}

.body__slide-icon--item:hover i{
    visibility: visible;
    animation: Appear ease 0.5s;
}

/* body content */
.body__res{
    background-color: var(--blue-rgba);
}

.body__menu{
    background-color: var(--gold-rgba);
}

.body__press{
    background-color: var(--green-rgba);
}

.body__content-box{
    text-align: center;
    min-height: 100vh;
    padding-bottom: 20px;
}

.body__content-header{
    padding: 80px 0px 40px 0px;  
    font-size: 60px;  
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--white);
}

.body__content-desc{
    max-width: 30%;
    font-size: 20px;
    line-height: 30px;
    margin: 40px auto 40px;
    color: var(--white);
}

.body__content-btn{
    border: 1px solid var(--white);
    width: 200px;
    padding: 15px 10px;
    margin: 10px auto 30px;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--black);
    --color:var(--white);
    --hover-color: transparent;
    background-color: var(--color);
    transition: all ease 0.3s;
}

.body__content-btn:hover{
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--hover-color);
}

.body__res-btn{
    color: var(--blue-rgba);
    margin: 80px auto 0px;
}

.body__menu-btn{
    color: var(--gold-rgba);
}

.body__menu-btn--list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__menu-btn--item{
    margin: 0 10px;
}

.body__press-header{
    color: var(--black);
}

.body__press--item{
    /* border: 1px solid var(--black); */
    height: 50vh;
    display: none;
    
}

.body__press--item.body__press--item-active{
    display: block;
    animation: Appear ease 0.5s;
} 

.body__press--item-desc{
    font-size: 30px;
    font-family: 'Joan', serif;
    color: var(--black);
}

.body__press--item-logo{
    width: 10%;
    margin: auto;
}

.body__press--item-logo img{
    width: 100%;
}

.body__press-desc{
    color: var(--black);
    max-width: 100%;
    padding:40px 0 20px 0;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    color: var(--white);
}

.body__footer-box{
    text-align: center;
    background-color: var(--yellow);
    min-height: 100vh;
    padding-bottom: 40px;
}

.body__footer-header{
    padding: 80px 0px 40px 0px;  
    font-size: 60px;  
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: var(--black);
}


.body__footer-desc{
    max-width: 30%;
    font-size: 20px;
    line-height: 30px;
    margin: 40px auto 40px;
    color: var(--black);
}

.body__footer-desc--notice{
    font-size: 16px;
    padding-top: 15px;
}

.body__footer-input{
    width: 20%;
    display: block;
    margin: 15px auto;
    padding: 12px 9px 9px;
    background-color: transparent;
    appearance: none;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    appearance: none;
    line-height: 1;
    letter-spacing: 2px;
}

.body__footer-btn{
    font-size: 20px;
    margin: 50px auto 0px;
    border: 1px solid var(--black);
    border-radius: 15px;
    width: 150px;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
}

.body__footer-btn:hover{
    background-color: var(--yellow-hover);
}

.body__footer-logo{
    --color: var(--yellow-logo);
    --hover-color: var(--white);
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 40px auto;
    color: var(--color);
    animation: Hoverouttext ease 0.3s;
}

.body__footer-logo:hover{
    color: var(--hover-color);
    animation: Hovertext ease 0.3s;
}

.body__footer-end{
    display: block;
    margin-bottom:3px ;
    font-size: 16px;
    --color : var(--end-text);
    --hover-color : var(--end-text-hover);
    color: var(--color);
    animation: Hoverouttext ease 0.3s;
}

.body__footer-end:hover{
    color: var(--hover-color);
    animation: Hovertext ease 0.3s;
}

